.bgig {
  background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-abstract-watercolor-background_23-2149012404.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
